# -----------------------------------------------------------
# PYTHON
# -----------------------------------------------------------
# Standard files :
*/.pyc

# -----------------------------------------------------------
# MATLAB
# -----------------------------------------------------------
# Outputs files (while ensuring folder structure is here !)
*.png
*.eps
*.jpg
*.mat
# !*/out/.gitkeep